html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button,
.btn,
.custom-dropdown {
    cursor: pointer;
}

figure {
    margin-bottom: 0;
}