<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <form class="navbar-form" role="search">
        
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" (keyup)=searchEmployee($event.target.value)>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
    <table border="1px" class="table">
        <tr class="container">
            <!-- <th>id   </th> -->
            <th>Full Name <a><i class="fa fa-toggle-up"></i></a>&nbsp;&nbsp;&nbsp;<a><i
                        class="fa fa-toggle-down"></i></a> </th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Department</th>
            <th>Operations</th>
        </tr>
        <tr *ngFor="let profile of empData  | async" class="container">
            <!-- <td>{{profile.id}}</td> -->
            <td>{{profile.name}}</td>
            <td>{{profile.email}}</td>
            <td>{{profile.mobile}}</td>
            <td><span *ngFor="let add of profile.address">{{add.street + add.city + add.state + add.zipCode}}</span></td>
            <td>{{profile.Department}}</td>
            <td> <button type="button" (click)="onEdit(profile.id)">Edit <i class="fa fa-edit"></i></button>
                <button (click) = "deleteEmployee(profile.id)">Delete<i class='fa fa-trash'></i></button> </td>

        </tr>
    </table>
</div>

<!-- [routerLink]="['/delete-employee',profile.id]" -->